[Unit]
Description= Wifi Init Service
After=sys-subsystem-net-devices-wlan0.device
Before=wpa_supplicant@wlan0.service
Wants=sys-subsystem-net-devices-wlan0.device

[Service]
Type=oneshot
RemainAfterExit=yes
ExecStart=/bin/sh -c "ip link set wlan0 up"
[Install]
WantedBy=multi-user.target