build/
apps/build
apps/*/build

*.o
*.out

firmware/**/build/
firmware/**/managed_components/
firmware/**/dependencies.lock
*.bin
*.elf
*.map

yocto/build
yocto/**/*.wic*

.vscode/
.cache/
CMakeCache.txt
.DS_Store

.qtcreator/
